<div class="container">
    <nav *ngIf="isEdit" class="navbar navbar-light bg-light">
        <div class="container-fluid justify-content-end">
            <button type="button" class="btn btn-secondary me-1" (click)="openModal()">add product</button>
        </div>
    </nav>
    <section>
        <div *ngFor="let product of products" class="card" style="width: 18rem;">
            <img src={{product.image}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">price: {{product.price | currency}}</p>
                <p class="card-text">year: {{product.year}}</p>
                <button type="button" class="btn btn-secondary">add to basket</button>
                <button type="button" class="btn btn-secondary" [routerLink]="['/products', product.id]">info</button>
                <app-collaps [prodId]="product.id" [removeProd]="removeProduct"></app-collaps>
            </div>
        </div>
    </section>
</div>