<header class="header">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="">Online shop</a>
                <div>
                    <button type="button" class="btn btn-secondary me-1" routerLink="">main</button>
                    <button type="button" class="btn btn-secondary me-1" routerLink="products">products</button>
                    <button type="button" class="btn btn-secondary" routerLink="basket">basket</button>
                </div>
            </div>
        </nav>
    </div>
</header>